<div class="burger-menu is-hidden" data-mobile>
    <div class="burger-menu-container">
        <button class="burger-menu-close-btn" data-mobile-close type="button">
            <svg class="burger-menu-close-cross" width="24px" height="24px">
                <use href="./img/sprite.svg#x"></use>
            </svg>
        </button>
        <nav class="burger-menu-navigation">
            <a class="burger-menu-logo-link" href="./index.html">
                <img class="burger-menu-logo" src="./img/logo.svg" alt="site logo" />
                <span class="burger-menu-logo-text">thewatchspot</span>
            </a>
            <ul class="burger-menu-navigation-list">
                <li class="burger-menu-navigation-item">
                    <a class="burger-menu-navigation-link" href="#about">About us</a>
                </li>
                <li class="burger-menu-navigation-item">
                    <a class="burger-menu-navigation-link" href="#catalog">Catalog</a>
                </li>
                <li class="burger-menu-navigation-item">
                    <a class="burger-menu-navigation-link" href="#sale">sale</a>
                </li>
            </ul>
        </nav>
    </div>
</div>