<div class="backdrop is-hidden">
  <div class="modal-wrapper">
    <button class="modal-close-btn" type="button">
      <svg class="svg-close" width="10" height="10">
        <use href="./img/sprite.svg#x"></use>
      </svg>
    </button>
    <div class="card-buy-watch">
      <img src="./img/watches-1.jpg" alt="watches" width="276" />
      <p class="modal-watch-name">Tube Watch S42 Date Steel With Black Case</p>
      <p class="modal-watch-price">€395</p>
    </div>
    <div class="modal-form">
      <form class="modal-form-wrapper">
        <label class="modal-form-label" for="input-name">Full name</label>
        <input
          class="modal-form-input"
          type="text"
          id="input-name"
          placeholder="Enter your full name"
          required
          pattern="[A-Za-zа-яА-Я]{1,32}"
        />
        <label class="modal-form-label" for="input-email">Email</label>
        <input
          class="modal-form-input"
          type="email"
          id="input-email"
          placeholder="Enter your email"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        />
        <label class="modal-form-label" for="input-card">Card number</label>
        <input
          class="modal-form-input"
          type="number"
          id="input-card"
          placeholder="Enter card"
          required
          pattern="[0-9]{13,19}"
        />
        <label class="modal-form-label" for="input-comment">Comments</label>
        <textarea
          class="modal-form-input textarea"
          name=""
          id="input-comment"
          placeholder="Enter your text"
        ></textarea>
        <button class="modal-submit-btn" type="submit">submit</button>
      </form>
      <p class="modal-privacy-police">
        By clicking on "Submit" button, you agree to our Privacy Policy, and
        allow Promodo to use this information for marketing purposes.
      </p>
    </div>
  </div>
</div>
