<section class="section catalog" id="catalog">
    <div class="container">
      <h2 class="style-header-two catalog-title">Catalog</h2>
      <ul class="list catalog-list">
        <li class="catalog-list-item">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <picture class="catalog-list-item-picture">
                  <source
                    srcset="./img/watches-1.webp 1x, ./img/watches-1-2x.webp 2x"
                    type="image/webp"
                  />
                  <source
                    srcset="./img/watches-1.jpg 1x, ./img/watches-1-2x.jpg 2x"
                  />
                  <img
                    src="./img/watches-1.jpg"
                    class="catalog-list-item-img"
                    alt="Tube Watch S42"
                    width="276"
                    height="274"
                  />
                </picture>
                <div class="catalog-overlay">
                  <div class="flip-card-back-block">
                    <span class="catalog-desc-span">Description</span>
                    <p class="catalog-desc-p">
                      Richly detailed with an understated design - the Police
                      Men’s Greenlane watch.
                    </p>
                    <span class="catalog-desc-span">DETAILS & FEATURES</span>
                    <p class="catalog-desc-p catalog-overlay-desc">
                      Gender: man <br />
                      Size: 46x54.5mm <br />
                      Case Colour: Steel Band <br />
                      Material: Metal<br />
                      Case Material: Metal <br />
                      Features: Multifunction <br />
                      Water Resistant: 5 (ATM) <br />
                      Band Colour: Steel<br />
                    </p>
                  </div>
                </div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-block">
                  <span class="catalog-desc-span">Description</span>
                  <p class="catalog-desc-p">
                    Richly detailed with an understated design - the Police Men’s
                    Greenlane watch.
                  </p>
                  <span class="catalog-desc-span">DETAILS & FEATUREStion</span>
                  <p class="catalog-desc-p flip-card-back-p-desc">
                    Gender: man <br />
                    Size: 46x54.5mm Case Colour: Steel Band <br />
                    Material: Metal<br />
                    Case Material: Metal <br />
                    Features: Multifunction <br />
                    Water Resistant: 5 (ATM) <br />
                    Band Colour: Steel<br />
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="catalog-list-item-p">
            Tube Watch S42 Date Steel With Black
          </p>
          <span class="catalog-list-item-span">€395</span>
        </li>
  
        <li class="catalog-list-item">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <picture class="catalog-list-item-picture">
                  <source
                    srcset="./img/watches-2.webp 1x, ./img/watches-2-2x.webp 2x"
                    type="image/webp"
                  />
                  <source
                    srcset="./img/watches-2.jpg 1x, ./img/watches-2-2x.jpg 2x"
                  />
                  <img
                    src="./img/watches-2.jpg"
                    class="catalog-list-item-img"
                    alt="Avondale Watch"
                    width="276"
                    height="274"
                  />
                </picture>
                <div class="catalog-overlay">
                  <div class="flip-card-back-block">
                    <span class="catalog-desc-span">Description</span>
                    <p class="catalog-desc-p">
                      Richly detailed with an understated design - the Police
                      Men’s Greenlane watch.
                    </p>
                    <span class="catalog-desc-span">DETAILS & FEATURES</span>
                    <p class="catalog-desc-p catalog-overlay-desc">
                      Gender: man <br />
                      Size: 46x54.5mm <br />
                      Case Colour: Steel Band <br />
                      Material: Metal<br />
                      Case Material: Metal <br />
                      Features: Multifunction <br />
                      Water Resistant: 5 (ATM) <br />
                      Band Colour: Steel<br />
                    </p>
                  </div>
                </div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-block">
                  <span class="catalog-desc-span">Description</span>
                  <p class="catalog-desc-p">
                    Richly detailed with an understated design - the Police Men’s
                    Greenlane watch.
                  </p>
                  <span class="catalog-desc-span">DETAILS & FEATUREStion</span>
                  <p class="catalog-desc-p flip-card-back-p-desc">
                    Gender: man <br />
                    Size: 46x54.5mm Case Colour: Steel Band <br />
                    Material: Metal<br />
                    Case Material: Metal <br />
                    Features: Multifunction <br />
                    Water Resistant: 5 (ATM) <br />
                    Band Colour: Steel<br />
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="catalog-list-item-p">Avondale Watch Police For Men</p>
          <span class="catalog-list-item-span">€800</span>
        </li>
  
        <li class="catalog-list-item">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <picture class="catalog-list-item-picture">
                  <source
                    srcset="./img/watches-3.webp 1x, ./img/watches-3-2x.webp 2x"
                    type="image/webp"
                  />
                  <source
                    srcset="./img/watches-3.jpg 1x, ./img/watches-3-2x.jpg 2x"
                  />
                  <img
                    src="./img/watches-3.jpg"
                    class="catalog-list-item-img"
                    alt="Diver 300M Co‑Axial"
                    width="276"
                    height="274"
                  />
                </picture>
                <div class="catalog-overlay">
                  <div class="flip-card-back-block">
                    <span class="catalog-desc-span">Description</span>
                    <p class="catalog-desc-p">
                      Richly detailed with an understated design - the Police
                      Men’s Greenlane watch.
                    </p>
                    <span class="catalog-desc-span">DETAILS & FEATURES</span>
                    <p class="catalog-desc-p catalog-overlay-desc">
                      Gender: man <br />
                      Size: 46x54.5mm <br />
                      Case Colour: Steel Band <br />
                      Material: Metal<br />
                      Case Material: Metal <br />
                      Features: Multifunction <br />
                      Water Resistant: 5 (ATM) <br />
                      Band Colour: Steel<br />
                    </p>
                  </div>
                </div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-block">
                  <span class="catalog-desc-span">Description</span>
                  <p class="catalog-desc-p">
                    Richly detailed with an understated design - the Police Men’s
                    Greenlane watch.
                  </p>
                  <span class="catalog-desc-span">DETAILS & FEATUREStion</span>
                  <p class="catalog-desc-p flip-card-back-p-desc">
                    Gender: man <br />
                    Size: 46x54.5mm Case Colour: Steel Band <br />
                    Material: Metal<br />
                    Case Material: Metal <br />
                    Features: Multifunction <br />
                    Water Resistant: 5 (ATM) <br />
                    Band Colour: Steel<br />
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="catalog-list-item-p">
            Diver 300M Co‑Axial Master Chronomete...
          </p>
          <span class="catalog-list-item-span">€600</span>
        </li>
  
        <li class="catalog-list-item">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <picture class="catalog-list-item-picture">
                  <source
                    srcset="./img/watches-4.webp 1x, ./img/watches-4-2x.webp 2x"
                    type="image/webp"
                  />
                  <source
                    srcset="./img/watches-4.jpg 1x, ./img/watches-4-2x.jpg 2x"
                  />
                  <img
                    src="./img/watches-4.jpg"
                    class="catalog-list-item-img"
                    alt="Diver 300M Co-Axial"
                    width="276"
                    height="274"
                  />
                </picture>
                <div class="catalog-overlay">
                  <div class="flip-card-back-block">
                    <span class="catalog-desc-span">Description</span>
                    <p class="catalog-desc-p">
                      Richly detailed with an understated design - the Police
                      Men’s Greenlane watch.
                    </p>
                    <span class="catalog-desc-span">DETAILS & FEATURES</span>
                    <p class="catalog-desc-p catalog-overlay-desc">
                      Gender: man <br />
                      Size: 46x54.5mm <br />
                      Case Colour: Steel Band <br />
                      Material: Metal<br />
                      Case Material: Metal <br />
                      Features: Multifunction <br />
                      Water Resistant: 5 (ATM) <br />
                      Band Colour: Steel<br />
                    </p>
                  </div>
                </div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-block">
                  <span class="catalog-desc-span">Description</span>
                  <p class="catalog-desc-p">
                    Richly detailed with an understated design - the Police Men’s
                    Greenlane watch.
                  </p>
                  <span class="catalog-desc-span">DETAILS & FEATUREStion</span>
                  <p class="catalog-desc-p flip-card-back-p-desc">
                    Gender: man <br />
                    Size: 46x54.5mm Case Colour: Steel Band <br />
                    Material: Metal<br />
                    Case Material: Metal <br />
                    Features: Multifunction <br />
                    Water Resistant: 5 (ATM) <br />
                    Band Colour: Steel<br />
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="catalog-list-item-p">
            Diver 300M Co-Axial Master Chronometer
          </p>
          <span class="catalog-list-item-span">€1400</span>
        </li>
  
        <li class="catalog-list-item">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <picture class="catalog-list-item-picture">
                  <source
                    srcset="./img/watches-5.webp 1x, ./img/watches-5-2x.webp 2x"
                    type="image/webp"
                  />
                  <source
                    srcset="./img/watches-5.jpg 1x, ./img/watches-5-2x.jpg 2x"
                  />
                  <img
                    src="./img/watches-5.jpg"
                    class="catalog-list-item-img"
                    alt="Taman Watch"
                    width="276"
                    height="274"
                  />
                </picture>
                <div class="catalog-overlay">
                  <div class="flip-card-back-block">
                    <span class="catalog-desc-span">Description</span>
                    <p class="catalog-desc-p">
                      Richly detailed with an understated design - the Police
                      Men’s Greenlane watch.
                    </p>
                    <span class="catalog-desc-span">DETAILS & FEATURES</span>
                    <p class="catalog-desc-p catalog-overlay-desc">
                      Gender: man <br />
                      Size: 46x54.5mm <br />
                      Case Colour: Steel Band <br />
                      Material: Metal<br />
                      Case Material: Metal <br />
                      Features: Multifunction <br />
                      Water Resistant: 5 (ATM) <br />
                      Band Colour: Steel<br />
                    </p>
                  </div>
                </div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-block">
                  <span class="catalog-desc-span">Description</span>
                  <p class="catalog-desc-p">
                    Richly detailed with an understated design - the Police Men’s
                    Greenlane watch.
                  </p>
                  <span class="catalog-desc-span">DETAILS & FEATUREStion</span>
                  <p class="catalog-desc-p flip-card-back-p-desc">
                    Gender: man <br />
                    Size: 46x54.5mm Case Colour: Steel Band <br />
                    Material: Metal<br />
                    Case Material: Metal <br />
                    Features: Multifunction <br />
                    Water Resistant: 5 (ATM) <br />
                    Band Colour: Steel<br />
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="catalog-list-item-p">Taman Watch By Police For Men</p>
          <span class="catalog-list-item-span">€500</span>
        </li>
  
        <li class="catalog-list-item">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <picture class="catalog-list-item-picture">
                  <source
                    srcset="./img/watches-6.webp 1x, ./img/watches-6-2x.webp 2x"
                    type="image/webp"
                  />
                  <source
                    srcset="./img/watches-6.jpg 1x, ./img/watches-6-2x.jpg 2x"
                  />
                  <img
                    src="./img/watches-6.jpg"
                    class="catalog-list-item-img"
                    alt="Malawi Watch"
                    width="276"
                    height="274"
                  />
                </picture>
                <div class="catalog-overlay">
                  <div class="flip-card-back-block">
                    <span class="catalog-desc-span">Description</span>
                    <p class="catalog-desc-p">
                      Richly detailed with an understated design - the Police
                      Men’s Greenlane watch.
                    </p>
                    <span class="catalog-desc-span">DETAILS & FEATURES</span>
                    <p class="catalog-desc-p catalog-overlay-desc">
                      Gender: man <br />
                      Size: 46x54.5mm <br />
                      Case Colour: Steel Band <br />
                      Material: Metal<br />
                      Case Material: Metal <br />
                      Features: Multifunction <br />
                      Water Resistant: 5 (ATM) <br />
                      Band Colour: Steel<br />
                    </p>
                  </div>
                </div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-block">
                  <span class="catalog-desc-span">Description</span>
                  <p class="catalog-desc-p">
                    Richly detailed with an understated design - the Police Men’s
                    Greenlane watch.
                  </p>
                  <span class="catalog-desc-span">DETAILS & FEATUREStion</span>
                  <p class="catalog-desc-p flip-card-back-p-desc">
                    Gender: man <br />
                    Size: 46x54.5mm Case Colour: Steel Band <br />
                    Material: Metal<br />
                    Case Material: Metal <br />
                    Features: Multifunction <br />
                    Water Resistant: 5 (ATM) <br />
                    Band Colour: Steel<br />
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="catalog-list-item-p">Malawi Watch Police For Men</p>
          <span class="catalog-list-item-span">€555</span>
        </li>
  
        <li class="catalog-list-item">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <picture class="catalog-list-item-picture">
                  <source
                    srcset="./img/watches-7.webp 1x, ./img/watches-7-2x.webp 2x"
                    type="image/webp"
                  />
                  <source
                    srcset="./img/watches-7.jpg 1x, ./img/watches-7-2x.jpg 2x"
                  />
                  <img
                    src="./img/watches-7.jpg"
                    class="catalog-list-item-img"
                    alt="Diver 300M"
                    width="276"
                    height="274"
                  />
                </picture>
                <div class="catalog-overlay">
                  <div class="flip-card-back-block">
                    <span class="catalog-desc-span">Description</span>
                    <p class="catalog-desc-p">
                      Richly detailed with an understated design - the Police
                      Men’s Greenlane watch.
                    </p>
                    <span class="catalog-desc-span">DETAILS & FEATURES</span>
                    <p class="catalog-desc-p catalog-overlay-desc">
                      Gender: man <br />
                      Size: 46x54.5mm <br />
                      Case Colour: Steel Band <br />
                      Material: Metal<br />
                      Case Material: Metal <br />
                      Features: Multifunction <br />
                      Water Resistant: 5 (ATM) <br />
                      Band Colour: Steel<br />
                    </p>
                  </div>
                </div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-block">
                  <span class="catalog-desc-span">Description</span>
                  <p class="catalog-desc-p">
                    Richly detailed with an understated design - the Police Men’s
                    Greenlane watch.
                  </p>
                  <span class="catalog-desc-span">DETAILS & FEATUREStion</span>
                  <p class="catalog-desc-p flip-card-back-p-desc">
                    Gender: man <br />
                    Size: 46x54.5mm Case Colour: Steel Band <br />
                    Material: Metal<br />
                    Case Material: Metal <br />
                    Features: Multifunction <br />
                    Water Resistant: 5 (ATM) <br />
                    Band Colour: Steel<br />
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="catalog-list-item-p">Diver 300M Co-Axial Master</p>
          <span class="catalog-list-item-span">€1200</span>
        </li>
  
        <li class="catalog-list-item">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <picture class="catalog-list-item-picture">
                  <source
                    srcset="./img/watches-8.webp 1x, ./img/watches-8-2x.webp 2x"
                    type="image/webp"
                  />
                  <source
                    srcset="./img/watches-8.jpg 1x, ./img/watches-8-2x.jpg 2x"
                  />
                  <img
                    src="./img/watches-8.jpg"
                    class="catalog-list-item-img"
                    alt="Greenlane Watch"
                    width="276"
                    height="274"
                  />
                </picture>
                <div class="catalog-overlay">
                  <div class="flip-card-back-block">
                    <span class="catalog-desc-span">Description</span>
                    <p class="catalog-desc-p">
                      Richly detailed with an understated design - the Police
                      Men’s Greenlane watch.
                    </p>
                    <span class="catalog-desc-span">DETAILS & FEATURES</span>
                    <p class="catalog-desc-p catalog-overlay-desc">
                      Gender: man <br />
                      Size: 46x54.5mm <br />
                      Case Colour: Steel Band <br />
                      Material: Metal<br />
                      Case Material: Metal <br />
                      Features: Multifunction <br />
                      Water Resistant: 5 (ATM) <br />
                      Band Colour: Steel<br />
                    </p>
                  </div>
                </div>
              </div>
              <div class="flip-card-back">
                <div class="flip-card-back-block">
                  <span class="catalog-desc-span">Description</span>
                  <p class="catalog-desc-p">
                    Richly detailed with an understated design - the Police Men’s
                    Greenlane watch.
                  </p>
                  <span class="catalog-desc-span">DETAILS & FEATUREStion</span>
                  <p class="catalog-desc-p flip-card-back-p-desc">
                    Gender: man <br />
                    Size: 46x54.5mm Case Colour: Steel Band <br />
                    Material: Metal<br />
                    Case Material: Metal <br />
                    Features: Multifunction <br />
                    Water Resistant: 5 (ATM) <br />
                    Band Colour: Steel<br />
                  </p>
                </div>
              </div>
            </div>
          </div>
          <p class="catalog-list-item-p">Greenlane Watch By Police For Men</p>
          <span class="catalog-list-item-span">€1000</span>
        </li>
  
        <li class="catalog-list-item catalog-list-item_mobile_hidden">
          <div class="overlay-wrap">
            <picture class="catalog-list-item-picture">
              <source
                    srcset="./img/watches-9.webp 1x, ./img/watches-9-2x.webp 2x"
                    type="image/webp"
                  />
              <source
                srcset="./img/watches-9.jpg 1x, ./img/watches-9-2x.jpg 2x"
              />
              <img
                src="./img/watches-9.jpg"
                class="catalog-list-item-img"
                alt="Squardrc 5402"
                width="276"
                height="274"
              />
            </picture>
            <div class="catalog-overlay">
              <div class="flip-card-back-block">
                <span class="catalog-desc-span">Description</span>
                <p class="catalog-desc-p">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
                <span class="catalog-desc-span">DETAILS & FEATURES</span>
                <p class="catalog-desc-p catalog-overlay-desc">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel Band <br />
                  Material: Metal<br />
                  Case Material: Metal <br />
                  Features: Multifunction <br />
                  Water Resistant: 5 (ATM) <br />
                  Band Colour: Steel<br />
                </p>
              </div>
            </div>
          </div>
        <p class="catalog-list-item-p">
          Squardrc 5402 Chrono
        </p>
        <span class="catalog-list-item-span">€359</span>
      </li>
  
      <li class="catalog-list-item catalog-list-item_mobile_hidden">
          <div class="overlay-wrap">
            <picture class="catalog-list-item-picture">
              <source
                    srcset="./img/watches-10.webp 1x, ./img/watches-10-2x.webp 2x"
                    type="image/webp"
                  />
              <source
                srcset="./img/watches-10.jpg 1x, ./img/watches-10-2x.jpg 2x"
              />
              <img
                src="./img/watches-10.jpg"
                class="catalog-list-item-img"
                alt="Diver  300M"
                width="276"
                height="274"
              />
            </picture>
            <div class="catalog-overlay">
              <div class="flip-card-back-block">
                <span class="catalog-desc-span">Description</span>
                <p class="catalog-desc-p">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
                <span class="catalog-desc-span">DETAILS & FEATURES</span>
                <p class="catalog-desc-p catalog-overlay-desc">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel Band <br />
                  Material: Metal<br />
                  Case Material: Metal <br />
                  Features: Multifunction <br />
                  Water Resistant: 5 (ATM) <br />
                  Band Colour: Steel<br />
                </p>
              </div>
            </div>
          </div>
        <p class="catalog-list-item-p">
          Diver  300M Co‑Axial Master
        </p>
        <span class="catalog-list-item-span">€400</span>
      </li>
  
        <li class="catalog-list-item catalog-list-item_mobile_hidden">
          <div class="overlay-wrap">
            <picture class="catalog-list-item-picture">
              <source
                    srcset="./img/watches-11.webp 1x, ./img/watches-11-2x.webp 2x"
                    type="image/webp"
                  />
              <source
                srcset="./img/watches-11.jpg 1x, ./img/watches-11-2x.jpg 2x"
              />
              <img
                src="./img/watches-11.jpg"
                class="catalog-list-item-img"
                alt="Citizen"
                width="276"
                height="274"
              />
            </picture>
            <div class="catalog-overlay">
              <div class="flip-card-back-block">
                <span class="catalog-desc-span">Description</span>
                <p class="catalog-desc-p">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
                <span class="catalog-desc-span">DETAILS & FEATURES</span>
                <p class="catalog-desc-p catalog-overlay-desc">
                  Gender: man <br />
                  Size: 46x54.5mm <br />
                  Case Colour: Steel Band <br />
                  Material: Metal<br />
                  Case Material: Metal <br />
                  Features: Multifunction <br />
                  Water Resistant: 5 (ATM) <br />
                  Band Colour: Steel<br />
                </p>
              </div>
            </div>
          </div>
        <p class="catalog-list-item-p">
          Citizen
        </p>
        <span class="catalog-list-item-span">€519</span>
      </li>
  
        <li class="catalog-list-item catalog-list-item_mobile_hidden">
            <div class="overlay-wrap">
              <picture class="catalog-list-item-picture">
                <source
                    srcset="./img/watches-12.webp 1x, ./img/watches-12-2x.webp 2x"
                    type="image/webp"
                  />
                <source
                  srcset="./img/watches-12.jpg 1x, ./img/watches-12-2x.jpg 2x"
                />
                <img
                  src="./img/watches-12.jpg"
                  class="catalog-list-item-img"
                  alt="Armani Exchange"
                  width="276"
                  height="274"
                />
              </picture>
              <div class="catalog-overlay">
                <div class="flip-card-back-block">
                  <span class="catalog-desc-span">Description</span>
                  <p class="catalog-desc-p">
                    Richly detailed with an understated design - the Police Men’s
                    Greenlane watch.
                  </p>
                  <span class="catalog-desc-span">DETAILS & FEATURES</span>
                  <p class="catalog-desc-p catalog-overlay-desc">
                    Gender: man <br />
                    Size: 46x54.5mm <br />
                    Case Colour: Steel Band <br />
                    Material: Metal<br />
                    Case Material: Metal <br />
                    Features: Multifunction <br />
                    Water Resistant: 5 (ATM) <br />
                    Band Colour: Steel<br />
                  </p>
                </div>
              </div>
            </div>
          <p class="catalog-list-item-p">
              Armani Exchange
          </p>
          <span class="catalog-list-item-span">€400</span>
        </li>
      </ul>
       <button class="catalog-btn" type="button">Buy now</button>
    </div>
  </section>
  
