<footer class="footer">
  <div class="container">
    <div class="footer-wrap">
      <div class="footer-contact">
        <a class="footer-logo" href="./index.html">
          <img
            src="./img/logo.svg"
            class="footer-logo-image"
            width="40"
            height="40"
            alt="logo-footer"
          />
        </a>
        <address class="footer-address">
          <a class="footer-address-tel" href="tel:+38(68)443-94-26"
            >+380 (68) 443-94-26</a
          >
          <a
            class="footer-address-city"
            href="https://www.google.com/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+%D0%A1%D0%A8%D0%90/@40.7335892,-111.9600867,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35b0826d399:0x2b26230524fd3ca3!8m2!3d40.7335892!4d-111.9600867!16s%2Fg%2F11bw41vm_p"
            target="_blank"
            >1678 S. Pioneer Road <br />
            Salt Lake City <br />
            UT 84104</a
          >
        </address>
      </div>
      <nav class="footer-navigation">
        <ul class="footer-navigation-menu">
          <li class="footer-navigation-menu-item">
            <a class="footer-navigation-menu-link link" href="#about"
              >About us</a
            >
          </li>
          <li class="footer-navigation-menu-item">
            <a class="footer-navigation-menu-link" href="#catalog">Catalog</a>
          </li>
          <li class="footer-navigation-menu-item">
            <a class="footer-navigation-menu-link" href="#sale">Sale</a>
          </li>
        </ul>
      </nav>
      <div class="footer-social-wrap">
        <ul class="footer-social-nav">
          <li class="footer-social-link">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="footer-social-nav-link"
            >
              <svg class="footer-social-nav-icon" width="24" height="24">
                <use href="/img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-link">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="footer-social-nav-link"
            >
              <svg class="footer-social-nav-icon" width="24" height="24">
                <use href="/img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-link">
            <a
              href="https://www.youtube.com/"
              target="_blank"
              class="footer-social-nav-link"
            >
              <svg class="footer-social-nav-icon" width="24" height="24">
                <use href="/img/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright">
      <p class="footer-copyright-text">
        &copy;2022 The Watch Spot. All rights reserved.
      </p>
      <div class="footer-privacy">
        <p class="footer-privacy-text">Privacy Policy</p>
        <p class="footer-privacy-text">Terms of Service</p>
      </div>
    </div>
  </div>
</footer>
