<header class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <a class="header-logo-link" href="./index.html">
        <picture>
            <source srcset="./img/logo-td.png 1x,
                            ./img/logo-td-2x.png 2x" 
                    media="(min-width: 768px)" />
            <source srcset="./img/logo-m.png 1x,
                            ./img/logo-m-2x.png 2x" 
                    media="(max-width: 767px)" />
            <img src="./img/logo-td.png" class="header-logo" alt="site logo" width="19" height="19" />
        </picture>
        <span class="header-logo-text">thewatchspot</span>
      </a>
      <ul class="header-navigation-list">
        <li class="header-navigation-item">
          <a class="header-navigation-link" href="#about">About us</a>
        </li>
        <li class="header-navigation-item">
          <a class="header-navigation-link" href="#catalog">Catalog</a>
        </li>
        <li class="header-navigation-item">
          <a class="header-navigation-link" href="#sale">sale</a>
        </li>
      </ul>
    </nav>
    <address class="header-address">
      <a class="header-button" href="tel:+380684439426">+380 (68) 443-94-26</a>
    </address>
    <button class="burger-menu-btn" type="button">
      <svg class="burger-menu-icon" width="24" height="24">
        <use href="./img/sprite.svg#burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
