<section class="section hero">
  <div class="container">
    <h1 class="hero-title style-header-one">
      Welcome to our collection of premium watches
    </h1>
    <div class="swiper slider-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/hero-sl-watch-1-m.webp    226w,
                ./img/hero-sl-watch-1-m-2x.webp 452w
              "
              type="image/webp"
              sizes="(max-width: 767px) 226px, 100vh"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/hero-sl-watch-1-m.png    226w,
                ./img/hero-sl-watch-1-m-2x.png 452w
              "
              sizes="(max-width: 767px) 226px, 100vh"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero-sl-watch-1-td.webp    348w,
                ./img/hero-sl-watch-1-td-2x.webp 696w
              "
              type="image/webp"
              sizes="(min-width: 768px) 348px, 40vh"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero-sl-watch-1-td.png    348w,
                ./img/hero-sl-watch-1-td-2x.png 696w
              "
              sizes="(min-width: 768px) 348px, 40vh"
            />
            <img
              src="./img/hero-sl-watch-1-m.png"
              alt="watch"
              class="hero-slider-image"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/hero-sl-watch-2-m.webp    226w,
                ./img/hero-sl-watch-2-m-2x.webp 452w
              "
              sizes="(max-width: 767px) 226px, 60vh"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/hero-sl-watch-2-m.png    226w,
                ./img/hero-sl-watch-2-m-2x.png 452w
              "
              sizes="(max-width: 767px) 226px, 60vh"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero-sl-watch-2-td.webp    348w,
                ./img/hero-sl-watch-2-td-2x.webp 696w
              "
              type="image/webp"
              sizes="(min-width: 768px) 348px, 40vh"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero-sl-watch-2-td.png    348w,
                ./img/hero-sl-watch-2-td-2x.png 696w
              "
              sizes="(min-width: 768px) 348px, 40vh"
            />
            <img
              src="./img/hero-sl-watch-2-m.png"
              alt="watch"
              class="hero-slider-image"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/hero-sl-watch-3-m.webp    226w,
                ./img/hero-sl-watch-3-m-2x.webp 452w
              "
              sizes="(max-width: 767px) 226px, 60vh"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/hero-sl-watch-3-m.png    226w,
                ./img/hero-sl-watch-3-m-2x.png 452w
              "
              sizes="(max-width: 767px) 226px, 60vh"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero-sl-watch-3-td.webp    348w,
                ./img/hero-sl-watch-3-td-2x.webp 696w
              "
              type="image/webp"
              sizes="(min-width: 768px) 348px, 40vh"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero-sl-watch-3-td.png    348w,
                ./img/hero-sl-watch-3-td-2x.png 696w
              "
              sizes="(min-width: 768px) 348px, 40vh"
            />
            <img
              src="./img/hero-sl-watch-3-m.png"
              alt="watch"
              class="hero-slider-image"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/hero-sl-watch-4-m.webp    226w,
                ./img/hero-sl-watch-4-m-2x.webp 452w
              "
              sizes="(max-width: 767px) 226px, 60vh"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/hero-sl-watch-4-m.png    226w,
                ./img/hero-sl-watch-4-m-2x.png 452w
              "
              sizes="(max-width: 767px) 226px, 60vh"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero-sl-watch-4-td.webp    348w,
                ./img/hero-sl-watch-4-td-2x.webp 696w
              "
              type="image/webp"
              sizes="(min-width: 768px) 348px, 40vh"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero-sl-watch-4-td.png    348w,
                ./img/hero-sl-watch-4-td-2x.png 696w
              "
              sizes="(min-width: 768px) 348px, 40vh"
            />
            <img
              src="./img/hero-sl-watch-4-m.png"
              alt="watch"
              class="hero-slider-image"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/hero-sl-watch-5-m.webp    226w,
                ./img/hero-sl-watch-5-m-2x.webp 452w
              "
              sizes="(max-width: 767px) 226px, 60vh"
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/hero-sl-watch-5-m.png    226w,
                ./img/hero-sl-watch-5-m-2x.png 452w
              "
              sizes="(max-width: 767px) 226px, 60vh"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero-sl-watch-5-td.webp    348w,
                ./img/hero-sl-watch-5-td-2x.webp 696w
              "
              sizes="(min-width: 768px) 348px, 40vh"
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/hero-sl-watch-5-td.png    348w,
                ./img/hero-sl-watch-5-td-2x.png 696w
              "
              sizes="(min-width: 768px) 348px, 40vh"
            />
            <img
              src="./img/hero-sl-watch-5-m.png"
              alt="watch"
              class="hero-slider-image"
            />
          </picture>
        </div>
      </div>
      <div class="button-prev">
        1
        <!-- <svg class="slider-icon">
          <use href="./img/logo.svg" class="slider-icon-prev"></use>
        </svg> -->
      </div>
      <div class="button-next">2</div>
      <div class="swiper-pagination"></div>
    </div>
    <p class="hero-text style-main-text">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <picture class="hero-picture-box">
      <source
        media="(max-width: 767px)"
        srcset="./img/hero-watch-m.webp 335w, ./img/hero-watch-m-2x.webp 670w"
        type="image/webp"
        sizes="(max-width: 767px) 335px, 100vh"
      />
      <source
        media="(max-width: 767px)"
        srcset="./img/hero-watch-m.jpg 335w, ./img/hero-watch-m-2x.jpg 670w"
        sizes="(max-width: 767px) 335px, 100vh"
      />
      <source
        media="(min-width: 768px)"
        srcset="./img/hero-watch-t.webp 704w, ./img/hero-watch-t-2x.webp 1408w"
        type="image/webp"
        sizes="(min-width: 768px) 704px, 100vh"
      />
      <source
        media="(min-width: 768px)"
        srcset="./img/hero-watch-t.jpg 704w, ./img/hero-watch-t-2x.jpg 1408w"
        sizes="(min-width: 768px) 704px, 100vh"
      />
      <source
        media="(min-width: 1280px)"
        srcset="./img/hero-watch-d.webp 676w, ./img/hero-watch-d-2x.webp 1352w"
        type="image/webp"
        sizes="(min-width: 1280px) 676px, 60vh"
      />
      <source
        media="(min-width: 1280px)"
        srcset="./img/hero-watch-d.jpg 676w, ./img/hero-watch-d-2x.jpg 1352w"
        sizes="(min-width: 1280px) 676px, 60vh"
      />
      <img src="./img/hero-watch-t.jpg" alt="watch on hand" class="hero-img" />
    </picture>
  </div>
</section>
