<section class="section new-watch-section">
  <div class="container" data-aos="zoom-in-down">
    <h2 class="style-main-text new-watch-title">New watches</h2>
    <p class="style-header-two new-watch-text">
      Green And Bronze—The Match Made In Heaven
    </p>
    <ul class="new-watch-list">
      <li>
        <picture>
          <source
            srcset="./img/new-watch1-d.jpeg 1x, ./img/new-watch1-d-2x.jpeg 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/new-watch1-t.jpeg 1x, ./img/new-watch1-t-2x.jpeg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/new-watch1-m.jpeg 1x, ./img/new-watch1-m-2x.jpeg 2x"
            media="(max-width: 767px)"
          />

          <img src="./img/new-watch1-d.jpeg" alt="New watch" width="576" />
        </picture>
      </li>

      <li>
        <picture>
          <source
            srcset="./img/new-watch2-d.jpeg 1x, ./img/new-watch2-d-2x.jpeg 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/new-watch2-t.jpeg 1x, ./img/new-watch2-t-2x.jpeg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/new-watch2-m.jpeg 1x, ./img/new-watch2-m-2x.jpeg 2x"
            media="(max-width: 767px)"
          />

          <img src="./img/new-watch2-d.jpeg" alt="New watch" width="576" />
        </picture>
      </li>
    </ul>
  </div>
</section>
