<section class="section" id="sale">
  <div class="container">
    <h2 class="style-header-two sale-title">Sale</h2>

    <div class="sale-container">
      <div class="sale-gallary-container">
        <ul class="sale-gallary-list">
          <li class="sale-gallary-list-item">
            <picture>
              <source
                srcset="
                  ./img/sale-watch-tab-1.jpg    1x,
                  ./img/sale-watch-tab-1-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale-watch-mob-1.jpg    1x,
                  ./img/sale-watch-mob-1-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/sale-watch-tab-1.jpg"
                alt="Sale watch"
                width="146px"
              />
            </picture>
          </li>
          <li class="sale-gallary-list-item">
            <picture>
              <source
                srcset="
                  ./img/sale-watch-tab-2.jpg    1x,
                  ./img/sale-watch-tab-2-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale-watch-mob-2.jpg    1x,
                  ./img/sale-watch-mob-2-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/sale-watch-tab-2.jpg"
                alt="Sale watch"
                width="146px"
              />
            </picture>
          </li>
          <li class="sale-gallary-list-item">
            <picture>
              <source
                srcset="
                  ./img/sale-watch-tab-3.jpg    1x,
                  ./img/sale-watch-tab-3-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale-watch-mob-3.jpg    1x,
                  ./img/sale-watch-mob-3-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/sale-watch-tab-3.jpg"
                alt="Sale watch"
                width="146px"
              />
            </picture>
          </li>
          <li class="sale-gallary-list-item">
            <picture>
              <source
                srcset="
                  ./img/sale-watch-tab-4.jpg    1x,
                  ./img/sale-watch-tab-4-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/sale-watch-mob-4.jpg    1x,
                  ./img/sale-watch-mob-4-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/sale-watch-tab-4.jpg"
                alt="Sale watch"
                width="146px"
              />
            </picture>
          </li>
        </ul>
        <picture>
          <source
            srcset="
              ./img/sale-watch-tab-5.jpg    1x,
              ./img/sale-watch-tab-5-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/sale-watch-mob-5.jpg    1x,
              ./img/sale-watch-mob-5-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/sale-watch-tab-5.jpg"
            alt="Sale watche"
            width="406px"
            class="sale-gallary-picture"
          />
        </picture>
      </div>

      <div class="sale-description-block">
        <div class="sale-product">
          <h3 class="sale-block-title">Greenlane Watch By Police For MenHT</h3>
          <p class="sale-product-tag">Product tag: PEWJK2227003</p>

          <div class="sale-price">
            <span class="sale-share-price">€700</span>
            <span class="sale-old-price">€1000</span>
          </div>
        </div>

        <div class="sale-description">
          <h4 class="sale-subtitle">Description</h4>
          <p class="sale-description-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>

        <div class="sale-details-block">
          <h4 class="sale-subtitle">DETAILS & FEATUREStion</h4>
          <p class="sale-details-text">
            Gender: man <br />
            Size: 46x54.5mm <br />
            Case Colour: Steel <br />
            Band Material: Metal <br />
            Case Material: Metal <br />
            Features: Multifunction <br />
            Water Resistant: 5 (ATM) <br />
            Band Colour: Steel <br />
          </p>
        </div>
      </div>
    </div>
  </div>
</section>