<div class="backdrop submit-is-hidden">
  <div class="submit-wrapper">
    <button class="modal-close-btn" type="button">
      <svg class="svg-close" width="10" height="10">
        <use href="./img/sprite.svg#x"></use>
      </svg>
    </button>
    <div class="submit-container">
      <picture class="submit-picture"></picture>
      <p class="submit-name"></p>
      <p class="submit-text">
        Thank you<br>for ordering the product, you will be contacted soon!
      </p>
      <button type="button" class="submit-button">Okay</button>
    </div>
  </div>
</div>
