.about-title {
  margin-bottom: 40px;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .about-wrap {
    display: flex;
    gap: 40px;
  }


  .about-list {
    flex-direction: row;
    gap: 20px;
  }

  .about-item-first {
    width: 220px;
  }

  .about-item-second {
    width: 250px;
  }
}

@media screen and (min-width: 1280px)  {
  .about-wrap {
    gap: 110px;
  }

  .about-list {
    gap: 40px;
  }

  .about-item-first {
    width: 439px;
  }

  .about-item-second {
    width: 380px;
  }

  .gif {
    margin-left: auto;
  }
}