.footer {
  min-width: 200px;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: var(--color-dark-green);
}
.footer-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
  margin-bottom: 80px;
}
.footer-logo {
  display: block;
  margin-bottom: 40px;
  width: 50px;
}
.footer-address-tel {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  text-transform: uppercase;
  color: var(--color-white);
}
.footer-address-city {
  display: block;
  width: 141px;
  font-style: normal;
  color: var(--color-white);
}
.footer-navigation-menu-item {
  display: block;
  margin-bottom: 14px;
  text-transform: uppercase;
  color: var(--color-white);
}
.footer-navigation-menu-item:last-child {
  margin-bottom: 0px;
}
.footer-social-nav {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 14px;
}
.footer-social-nav-icon {
  fill: var(--color-white);
}
.footer-social-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15%;
  background-color: transparent;
  /*  Set transition values  */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-nav-link:hover,
.footer-social-nav-link:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-nav-icon {
  fill: var(--color-white);
}
.footer-copyright {
  display: flex;
  flex-wrap: wrap;
}
.footer-copyright-text {
  margin-bottom: 14px;
  margin-right: 96px;
  font-size: 12px;
  line-height: 1.17;

  color: rgba(198, 205, 209, 0.9);
}
.footer-privacy {
  display: flex;
  gap: 14px;
  font-size: 12px;
  line-height: 1.17;

  color: var(--color-grey);
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 80px;
  }
  .footer-wrap {
    margin-bottom: 152px;
  }
  .footer-logo-image {
    width: 50px;
    height: 50px;
  }
  .footer-address-tel {
    font-size: 18px;
    line-height: 1.33;
  }
  .footer-address-city {
    width: 181px;
  }
  .footer-copyright-text {
    margin-bottom: 0px;
    font-size: inherit;
    line-height: inherit;
  }
  .footer-privacy {
    font-size: inherit;
    line-height: inherit;
  }
  .footer-copyright {
    justify-content: space-between;
  }
  .footer-address-city {
    font-size: 18px;
    line-height: 1.33;
  }
  .footer-navigation-menu-item {
    font-size: 18px;
    line-height: 1.33;
  }
  .footer-social-nav-link {
    width: 44px;
    height: 44px;
  }
  .footer-social-nav-icon {
    width: 28px;
    height: 28px;
  }
  .footer-social-nav {
    gap: 16px;
  }
  .footer-navigation {
    width: 81px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 104px;
    padding-bottom: 32px;
  }
  .footer-wrap {
    margin-bottom: 174px;
  }
  .footer-navigation {
    width: 115px;
  }
}
