/* -----Fonts---- */
@font-face {
  font-family: 'Epilogue';
  src: local('Epilogue Light'), local('Epilogue-Light'),
    url('../fonts/Epilogue-Light.woff2') format('woff2'),
    url('../fonts/Epilogue-Light.woff') format('woff'),
    url('../fonts/Epilogue-Light.ttf') format('truetype'),
    url('../fonts/Epilogue-Light.eot') format('eot');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Epilogue';
  src: local('Epilogue Regular'), local('Epilogue-Regular'),
    url('../fonts/Epilogue-Regular.woff2') format('woff2'),
    url('../fonts/Epilogue-Regular.woff') format('woff'),
    url('../fonts/Epilogue-Regular.ttf') format('truetype'),
    url('../fonts/Epilogue-Regular.eot') format('eot');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Epilogue';
  src: local('Epilogue SemiBold'), local('Epilogue-SemiBold'),
    url('../fonts/Epilogue-SemiBold.woff2') format('woff2'),
    url('../fonts/Epilogue-SemiBold.woff') format('woff'),
    url('../fonts/Epilogue-SemiBold.ttf') format('truetype'),
    url('../fonts/Epilogue-SemiBold.eot') format('eot');
  font-weight: 600;
  font-style: normal;
}
/* ----/fonts---- */

:root {
  --primary-font-family: 'Epilogue', sans-serif;

  --color-dark-green: #1e2827;
  --color-black: #141414;
  --color-black-semitransparent: #14141480;
  --color-black-transparent: #14141466;
  --color-white: #ffffff;
  --color-white-semitransparent: #ffffff80;
  --color-grey: #c6cdd1;
}

body {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28; /*18*/
  letter-spacing: -0.02em;

  color: var(--color-black);
}

.container {
  width: 100%;
  min-width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px dashed tomato;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 52px;
    padding-right: 52px;
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.style-header-one {
  font-size: 38px;
  font-weight: 600;
  line-height: 1.05;
  letter-spacing: -0.04em;

  color: var(--color-white);
}
@media screen and (min-width: 768px) {
  .style-header-one {
    font-size: 60px;
    line-height: 1.03;
    letter-spacing: -0.04em;
  }
}

.style-header-two {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--color-dark-green);
}
@media screen and (min-width: 768px) {
  .style-header-two {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.1;
  }
}
.style-header-three {
  font-size: 14px;
  line-height: 1.29px;
}

.style-main-text {
  font-weight: 300;
}
