.hero {
  min-width: 200px;
  background-color: var(--color-black);
}
@media screen and (max-width: 266px) {
  .hero {
    width: 100%;
  }
}
.hero > .container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  min-width: 0;
}
@media screen and (min-width: 768px) {
  .hero > .container {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .hero > .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 43px;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.hero-title {
  margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .hero-title {
    width: 750px;
  }
}
.hero-text {
  color: var(--color-white);
  max-width: 248px;
  margin-left: auto;
  margin-right: 0;
  text-align: left;
}
/* @media screen and (max-width: 375px) {
  .hero-text {
    max-width: 248px;
  }
} */

@media screen and (min-width: 768px) {
  .hero-text {
    margin-top: 70px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-text {
    align-self: flex-start;
    max-width: 282px;
    margin-top: 0px;
  }
}
.slider-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  margin-left: 0;
  margin-right: auto;

  width: 266px;
  min-width: 50px;
  row-gap: 20px;
  min-width: 0;
}

.swiper-wrapper {
  width: 266px;
  height: 200px;
  justify-self: start;
  cursor: pointer;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 266px;
  height: 200px;

  background-color: var(--color-dark-green);
}

@media screen and (max-width: 301px) {
  .slider-container {
    width: 100%;
    height: auto;
  }
  .swiper-wrapper {
    width: 100%;
    height: auto;
  }
  .swiper-slide {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .slider-container {
    width: 436px;
    /* height: 255px; */
  }
  .swiper-wrapper {
    width: 436px;
    height: 255px;
  }

  .swiper-slide {
    width: 436px;
    height: 255px;
  }
}
@media screen and (min-width: 1280px) {
  .slider-container {
    order: 2;
  }
}
.button-prev,
.button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid var(--color-white);
  border-radius: 8px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .button-prev,
  .button-next {
    width: 40px;
    height: 40px;
  }
}
.swiper-pagination {
  color: var(--color-white);
}

@media screen and (min-width: 1280px) {
  .hero-picture-box {
    order: 3;
  }
}
.slider-icon {
  width: 18px;
  height: 18px;
}
@media screen and (min-width: 768px) {
  .slider-icon {
    width: 24px;
    height: 24px;
  }
}

.slider-icon-prev,
.slider-icon-next {
  stroke: var(--color-white);
  fill: transparent;
}
.slider-pagination {
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: auto;
  width: 74px;
}

.slider-pagination::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 0px;
  border-top: 1px solid var(--color-white);
}
@media screen and (min-width: 768px) {
  .slider-pagination {
    width: 80px;
  }
  .slider-pagination::after {
    width: 40px;
  }
}

.button-next.swiper-button-disabled,
.button-prev.swiper-button-disabled {
  border-color: var(--color-white-semitransparent);
}

.button-next.swiper-button-disabled .slider-icon-next,
.button-prev.swiper-button-disabled .slider-icon-prev {
  stroke: var(--color-white-semitransparent);
}
