.sale-section {
  padding-bottom: 80px;
}
.sale-title {
  margin-bottom: 40px;
  color: var(--color-black);
}

.sale-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  margin-right: auto;
  margin-left: auto;
  max-width: 335px;
}

.sale-gallary-container {
  display: flex;
  gap: 20px;
  width: 100%;
}

.sale-gallary-list-item:not(:last-child) {
  margin-bottom: 10px;
}

.sale-gallary-picture {
  height: 100%;
}

.sale-description-block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.sale-product {
  margin-bottom: 40px;
}

.sale-description {
  margin-bottom: 40px;
}

.sale-block-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;

  max-width: 100%;
  margin-bottom: 8px;

  color: var(--color-black);

  cursor: pointer;
}

.sale-product-tag {
  margin-bottom: 16px;
  color: var(--color-black-semitransparent);
}

.sale-price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sale-share-price {
  font-size: 18px;
  line-height: 24px;

  color: var(--color-black);
}

.sale-old-price {
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: line-through;

  color: var(--color-black-semitransparent);
}

.sale-details-block {
  width: 100%;
}

.sale-subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;

  color: var(--color-black);

  margin-bottom: 8px;
  padding: 8px 0;
}

.sale-subtitle::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--color-black);

  position: absolute;
  top: 0;
  left: 0;
}

.sale-subtitle::after {
  content: '';
  width: 16px;
  height: 1px;
  display: block;
  background-color: var(--color-black);
}

.sale-description-text {
  letter-spacing: -0.01em;

  color: var(--color-black-semitransparent);
}

.sale-details-text {
  letter-spacing: -0.01em;

  color: var(--color-black-semitransparent);
}

@media screen and (min-width: 768px) {
  .sale-section {
    padding-bottom: 128px;
  }

  .sale-container {
    max-width: 572px;
  }

  .sale-block-title {
    font-size: 38px;
    line-height: 1.05;
  }

  .sale-gallary-picture {
    height: auto;
  }
}

@media screen and (min-width: 1280px) {
  .sale-section {
    padding-bottom: 160px;
  }

  .sale-title{
    margin-bottom: 80px;
  }

  .sale-container {
    max-width: 1176px;
  }

  .sale-container {
    flex-wrap: nowrap;
    justify-content: center;
  }

  .sale-gallary-container {
    width: 572px;
  }

  .sale-description-block {
    width: 369px;
    height: 573px;
  }

  .sale-description {
    margin-bottom: 20px;
  }
}
