/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

@import url('./general.css');
@import url('./component.css');

@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./catalog.css');
@import url('./new-watches.css');
@import url('./sale.css');
@import url('./footer.css');
@import url('./burger-menu.css');
@import url('./buy-now.css');

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
